<h2>プロジェクト一覧</h2>
<% if projects.any? %>
  <div class="row">
    <table class="table table-striped h4">
      <thead>
        <tr>
          <th>#</th>
          <th>Project Name</th>
        </tr>
      </thead>
      
      <% projects.each do |project| %>
      <tbody>
        <tr>
          <th>
            <%= project.id %>
          </th>
          <td>
            <%= link_to project.name, project_path(project) %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
<% end %>
  

