<div class="text-center">
  <h1><%= @user.name%> さんのページ</h1>
</div>
<div class="row">
  <aside class="col-xs-4">
    <%= render 'projects', projects: @projects %>
  </aside>
  <div class="col-xs-8">
  </div>
</div>