<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each_with_index do |member, index| %>
      <tr>
        <th><%= index + 1 %></th>
        <th><%= member.name %></th>
      </tr>
    <% end %>
  </tbody>
</table>
