<h1>プロジェクト一覧</h1>
<% if projects.any? %>
  <% projects.each do |project| %>
    <div class="row col-md-8">
      <div class="panel panel-info">
      	<div class="panel-heading">
      	  <%= link_to project.name, project_path(project) %>
      	</div>
      	
      	<div class="panel-body">
      		<% project.get_members.each do |member| %>
      		  <%= member.name %>
      		<% end %>
      	</div>
      </div>
    </div>
  <% end %>
<% end %>
