<div class="text-center">
  <h1>#<%= @project.id%> &emsp; <%= @project.name%></h1>
</div>
<div class="row">
  <aside class="col-xs-4">
    <h3>メンバー一覧</h3>
    
    <div>
      <%= render 'member', members: @members %>  
    </div>
    <div>
      <%= render 'action', project: @project, work: @work %>  
    </div>
    
  </aside>
  <div class="col-xs-8">
  </div>
</div>


