<div class="text-center">
  <h1><%= @project.name%></h1>
</div>
<div class="row">
  <aside class="col-xs-4">
    <h3>メンバー一覧</h3>
    
    <%= render 'member', members: @members %>
  </aside>
  <div class="col-xs-8">
  </div>
</div>